.checkout{
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    flex-direction: column;
}

.checkout h2{
    margin-bottom: 10px;
}

.checkout p{
    margin: 5px;
}