@font-face {
    font-family: "aguero";
    src: url("../assets/Fonts/AmericanCaptain-MdEY.otf");
}

.header{
    height: 15vh;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    will-change: transform;
    z-index: 100;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-bottom: 2px solid;
    transition: all 2s ease;
    transform: translateY(-100vh);
    background: transparent;
    backdrop-filter: blur(10px);
    color: var(--text-color);
    animation: header 2s ease-in-out 3.5s forwards;
}


.header > div{
    height: 50%;
}

.title h2{
    font-size: 3rem;
    margin-top: 2px;
    font-family: "aguero";
    text-transform: uppercase;
    background: transparent;
    -webkit-text-stroke: 1px var(--text-color);
    -webkit-text-fill-color: transparent;
}

.icons{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.cart{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num{
    position: absolute;
    top: -10px;
    right: -12px;
    color: white;
    padding: 0px 1.5px;
    border-radius: 50%;
    background: black;
    border: 1px solid black;
}

.toggle{
    position: absolute;
    right: 25px;
    top: 15px;
    padding: 5px;
    transition: all .5s ease;
}

.toggle:hover{
    border: 1px solid;
}

.toggle > *{
    transition: all 2s ease;
}

@keyframes header{
    to{
        transform: translate(0);
    }
}

@media screen and (max-width: 468px) {
    .title h2{
        margin-top: 26.5px;
    }

    .icons{
        width: 50%;
    }
}