.section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    background: white;
}

.abs{
    position: absolute;
    z-index: 10;
}

.impress{
    align-items: flex-end;
    justify-content: space-around;
}

.impress > div{
    width: 50%;
    height: 90%;
    position: relative;
}

.wrapper, .text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.img{
    height: 100%;
    /* width: 100%; */
    position: absolute;
    right: 100px;
    bottom: 0;
    object-fit: cover;
    margin: 0;
    opacity: 0;
    transition: all 2.5s ease;
}


.text{
    text-align: left;
    margin-top: 16vh;
    padding: 2rem;
}

.text h2{
    margin-top: 0;
    transition: all 2s ease;
    transition-delay: 2s;
}

.text h2:first-of-type{
    margin-bottom: 0;
}

.btn{
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transform: translateY(150px);
    transition: all 1.5s ease;
    transition-delay: 3s;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.btn, .text h2{
    opacity: 0;
    transform: translateY(150px);
}

.show .btn, .show .text h2, .show .img{
    opacity: 1;
    transform: translate(0);
}

.btn > *{
    pointer-events: none;
    transition: all .5s ease;
}

.btn:hover{
    width: 17rem;
}

.btn:hover >*{
    transform: translateX(25px);
}

@keyframes scroll{
    from{
        transform: translate(0);
    }to{
        transform: translateY(-100vh);
    }
}

.scroll{
    animation: scroll 2s ease-in-out forwards;
}