.section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background: var(--bg-color);
    transition: all 2s ease;
}

.abs{
    position: absolute;
    z-index: 10;
}

.abs h1{
    color: var(--text-color);
}

.impress{
    align-items: flex-end;
    justify-content: space-around;
}

.impress > div{
    width: 50%;
    height: 90%;
    position: relative;
}

.wrapper, .text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wrapper{
    transition: all 2s ease;
    transform: translateX(100vw);
}

.wrapper.show{
    transform: translate(0);
}


.img{
    height: 100%;
    /* width: 100%; */
    position: absolute;
    right: 100px;
    bottom: 0;
    object-fit: cover;
    margin: 0;
    opacity: 0;
    transition: all 2.5s ease;
}

.img.active{
    opacity: 1;
}

.img.hidden{
    opacity: 0;
}


.text{
    text-align: left;
    margin-top: 16vh;
    padding: 2rem;
}

.text h2{
    margin-top: 0;
    font-size: 2rem;
    transition: all 2s ease;
    transition-delay: 2s;
}

.text h2:first-of-type{
    margin-bottom: 0;
}

.btn{
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transform: translateY(150px);
    transition: all 1.5s ease;
    transition-delay: 3s;
    background: #141414;
    box-shadow: 10px 10px 5px var(--shadow);
}

.btn, .text h2{
    opacity: 0;
    transform: translateY(150px);
}

.show .btn, .show .text h2{
    opacity: 1;
    transform: translate(0);
}

.btn > *{
    pointer-events: none;
    transition: all .5s ease;
}

.btn:hover{
    width: 17rem;
}

.btn:hover >*{
    transform: translateX(25px);
}

@keyframes scroll{
    from{
        transform: translate(0);
    }to{
        transform: translateY(-100vh);
    }
}

.scroll{
    animation: scroll 2s ease-in-out forwards;
}

@media screen  and (max-width: 968px) {
    .img{
        right: unset;
    }

    .text h2{
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 468px){

    .impress{
        padding: 0;
        justify-content: space-between;
    }

    .text{
        align-items: flex-start;
    }

    .text h2{
        font-size: 1.2rem;
    }
    
    .text h2:first-of-type{
        margin-top: 10rem;
    }

    .img{
        right: unset;
    }

    .btn{
        width: 13rem;
    }
}