.shop{
    height: auto;
    width: 100%;
    padding-top: 25vh;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    place-items: center;
    row-gap: 1.5rem;
    color: var(--text-color);
    opacity: 0;
    scale: 0;
    transform: rotateY(180deg);
    transform-origin: 0% 50%;
    transition: all 2s ease;
}

.shop.anim{
    scale: 1;
    opacity: 1;
    transform: rotate(0deg);
    background: var(--bg-color);
}

.header{
    height: 22vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    background: transparent;
    backdrop-filter: blur(10px);
}

.header button{
    margin-right: 2rem;
}

@media screen and (max-width: 968px) {
    .shop{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 468px) {
    .shop{
        grid-template-columns: repeat(2, 1fr);
    }
    
}