.tile{
    height: 150px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 15px;
    border: 2px solid;
    position: relative;
    box-shadow: 0px 0px 10px var(--shadow);
}

.deets{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: black;
    border-left: 1px solid;
    padding: 0 1rem;
}

.deets h2{
    font-size: 1rem;
    margin: 0;
    text-align: left;
}

.deets p{
    margin: 0;
}

.im{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.7rem;
}

.img{
    width: 60%;
    height: 70%;
    object-fit: cover;
}

.remove{
    position: absolute;
    top: 10px;
    right: 10px;
}

.remove button{
    padding: 5px 10px;
    font-size: 0.8rem;
}


@media screen and (max-width: 968px) {
    .tile{
        width: 90%;
    }
}