#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  --bg-color: #ffffff;
  --text-color: #000;
  --shadow: #08080880;
  transition: all 1.5s ease;
}

